/* We want to use rem which means root em. Hence the font-size should be defined on the root element.
For an HTML document root element is the html element, hence font-size:62.5% is defined on the html element.

Additionally, we want box-sizing to be defined on the root element i.e. html element so that it could be inherited by the all the elements 
and all the before and all the after pseudo elements.
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* We want to set margin, padding to zero for all the elements below*/
* {
    margin: 0;
    padding: 0;
}

/* We want to set box-sizing for all the elements including pseudo elements below*/
*,
*::after,
*::before {
    box-sizing: inherit;
}

/* While font-size is set at the root element i.e. html so that we could use rem, it is the body which has the content, hence font-family should be on the body
Alternatively it can be on the html element as well but body seems more logical*/
body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    position: relative;
}

p::before {
    content: '“';
    left: 0;
}

p::before, p::after {
    color: red;
    font-size: 5rem;
    position: absolute;
    top: 2px;
}
    
p::after {
    content: '”';
}